@model IEnumerable<Dominio.Miembro>

@{
    ViewData["Title"] = "Lista";
}

<h1>Lista</h1>

@{
    var miembrosOrdenados = Model.OrderBy(m => m.Apellido).ThenBy(m => m.Nombre);
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bloqueado)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in miembrosOrdenados)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @if (item.Bloqueado)
                    {
                        <span class="text-danger">Bloqueado</span>
                    }
                    else
                    {
                        <span class="text-success">Desbloqueado</span>
                    }
                </td>
                <td>
                    @if (!item.Bloqueado)
                    {
                        <a href="@Url.Action("BloquearUsuario", new { id = item.Id })" class="btn btn-warning">Bloquear</a>
                    }
                    else
                    {
                        <a href="@Url.Action("DesbloquearUsuario", new { id = item.Id })" class="btn btn-success">Desbloquear</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

